# vite chạy backend local PgAdmin
VITE_API_URL=http://localhost:8000
VITE_WS_URL=ws://localhost:8000/ws

# vite chạy frontend local bằng backend render
VITE_API_URL=https://doan-uh5r.onrender.com
VITE_WS_URL=wss://doan-uh5r.onrender.com/ws